/* Base style for all avatars, individual styling set by inline css within pages */

.Avatar {
  border-radius: 50%;
  border: 2px solid #619158;
  object-fit: cover;
  margin: 0px 8px;
}

.AvatarText {
  font-size: 0.9;
  color: #212529;
}
