/* Base style for all avatars, individual styling set by inline css within pages */

.Avatar {
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
  margin: 0;
}

.AvatarText {
  font-size: 0.9;
  color: #212529;
}

.AvatarContainer {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}
