/* Base style for all avatars, individual styling set by inline css within pages */

.Avatar {
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  margin: 0px 5px;
}

.AvatarText {
  font-size: 0.9;
  color: whitesmoke;
}

.AvatarContainer {
  border-radius: 50%;
  display: inline-block;
}

.AuthorAvatar {
  height: 40px;
  width: 10px;
  border-radius: 50%;
}
