/* Base style for all avatars, individual styling set by inline css within pages */

.avatar {
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
  margin: 0px 5px;
}

.avatarText {
  font-size: 0.9;
  color: whitesmoke;
}

.avatarContainer {
  border-radius: 50%;
  display: inline-block;
}

.authorAvatar {
  height: 40px;
  width: 10px;
  border-radius: 50%;
}
