.Button {
  font-size: 0.8rem;
  align-self: center;
  background-color: #57351e;
  border-radius: 100px;
  border-width: 2px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  background-color: orange;
  border-width: 2px;
  border-color: green;
  color: black;
  cursor: pointer;
}

.Button:active,
.Button:hover:active {
  border-width: 2px;
  background-color: #619158 !important;
}

.Button:focus {
  border-width: 2px;
  background-color: orange;
  color: black;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Black,
.BlackOutline:hover {
  border-width: 2px;
}
