.button {
  font-size: 0.8rem;
  align-self: center;
  background-color: #856404;
  border: 2px solid black;
  border-radius: 100px;
  padding: 4px 10px;
  margin-left: auto;
  margin-right: 2px;
  min-width: 75px;
  color: whitesmoke;
  box-shadow: none !important;
  outline: none !important;
}

.alignRight {
  margin-left: auto;
  display: block;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: orange;
  border-color: whitesmoke;
  color: black;
  cursor: pointer;
}

.button:active,
.button:hover:active {
  border-width: 2px;
  border-color: whitesmoke;
  background-color: #619158 !important;
}

.button:focus {
  border-color: whitesmoke;
  background-color: orange;
  color: black;
}

.wide {
  padding: 10px 50px;
  width: 100%;
}

.black,
.blackOutline:hover {
  border-width: 2px;
  border-color: whitesmoke;
}
