/* Stylesheet for Comment.js */

/* Space between the Avatar/Name and content */
.commentContainer {
  display: flex;
  gap: 10px;
}

/* Stacks the avatar and owner vertically, making most of space. */
.commentHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.commentAuthor {
  margin-top: 5px;
  font-weight: bold;
}

.comment {
  border-top: 1px solid #856404;
  background-color: transparent;
}

.commentBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  font-size: 0.9rem;
}

.likesSection {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust spacing between heart and count */
}

.likeWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.likesCount {
  font-size: 14px;
  color: #ffffff;
}
