.CommentContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px; /* Space between the Avatar/Name and content */
  padding: 10px;
}

/* Stacks the avatar and owner vertically, making most of space. */
.CommentAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CommentBar {
  padding: 5px;
  border-bottom: 1px solid rgba(83, 36, 2, 0.3);
}
