.CourseTitle {
  font-size: 3rem !important;

  /* justify-content: center; */
}

.CourseInfo {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

.CourseInfo strong {
  display: inline-block;
  width: 140px;
  font-weight: 600;
}

.CourseContainer {
  max-width: 1200px;
  margin: auto;
  background-color: #655d43;
  padding: 2rem 2rem;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
  justify-content: center;
}

.Spring {
  border-color: #d1dd93;
  color: #d1dd93;
}

.Summer {
  border-color: #e39e54;
  color: #e39e54;
}

.Autumn {
  border-color: orange;
  color: orange;
}

.BookButton {
  display: block;
  margin: 2rem auto 0 auto;
}
