/* Styles for the listing page for courses */

.CoursesListContainer {
  background-color: #655d43;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
}

H2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 3rem;
}

.IndividualCourse {
  background-color: #655d43;
  padding: 1rem 5rem;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}
