/* Stylesheet for Course Registrations */
.formContainer {
  max-width: 800px;
  margin: auto;
  background-color: #655d43;

  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
}
.formGroup {
  margin-top: 1rem;
  padding: 1rem 10rem;
}
