/* Stylesheet for individual Course's page */

.courseInfo {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

.courseInfo strong {
  display: inline-block;
  width: 140px;
  font-weight: 600;
}

.courseContainer {
  max-width: 1200px;
  margin: auto;
  background-color: #655d43;
  padding: 2rem 2rem;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
  justify-content: center;
}

.spring {
  border-color: #d1dd93;
  color: #d1dd93;
}

.summer {
  border-color: #e39e54;
  color: #e39e54;
}

.autumn {
  border-color: orange;
  color: orange;
}

.bookButton {
  display: block;
  margin: 2rem auto 0 auto;
}
