/* Styles for the listing page for courses */

.coursesListContainer {
  background-color: #655d43;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.allCourses {
  font-size: 3rem;
}

.courseHeading {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 3rem;
}

.individualCourse {
  background-color: #655d43;
  padding: 1rem 5rem;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}
