/* Styles for the listing page for courses */

.CoursesListContainer {
  background-color: #655d43;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
}

.IndividualCourse {
  padding: 5rem;
  color: red;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
