/* Stylesheet for the hero banner which is the link to the full list */

.hero {
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 4rem 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.welcomeTint {
  background-color: rgba(64, 87, 54, 0.6);
  padding: 0.5rem;
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.bannerText {
  font-size: 1.2rem;
}
