.likesSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.likeItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heart {
  color: #f85032;
}

.heartOutline {
  color: grey;
}

.heartOutline:hover {
  color: #f85032;
}
