.NavBar {
  background-color: #fcfcfc;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #347928;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust as needed */
}
