/* Navbar: text stays white, icons change on hover */

.topRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.navBar {
  background-color: #655d43;
  border-bottom: 2px solid black;

  padding: 0.5rem;
}

.navLink {
  padding: 5px;
  white-space: nowrap;
}

.navLink,
.navLink i,
.navLink a {
  color: white;
  text-decoration: none !important;
}

.navLink:hover i {
  color: orange !important;
}

.active i {
  color: white !important;
}

.navbarToggle {
  border: 1px solid white !important;
  background-color: #512c0f;
  margin: 0;
  flex-shrink: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 0.5rem;
}

.logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
}

.left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
