/* Navagation text color always stays brown whilst the icons change to green on hover and indictae current page by being green. */

.NavBar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #57351e;
  margin: 0;
  padding: 0;
}

.NavLink {
  padding: 5px;
}

.NavLink,
.NavLink i,
.NavLink a {
  color: #57351e !important;
  text-decoration: none !important;
}

.NavLink:hover i {
  color: #619158 !important;
}

.Active i {
  color: #619158 !important;
}

.NavbarToggle {
  border: 1px solid #000000 !important;
  background-color: #532402;
}
