/* Stylessheet for Post.js */

img {
  object-fit: cover;
  object-position: center;
}

.postTitle {
  text-align: center;
  color: whitesmoke;
}

.creationDate {
  color: whitesmoke;
}

.postBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeCommentWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.likeSection,
.commentSection {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.likesCount,
.commentsCount {
  font-size: 1.1rem;
  color: whitesmoke;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: orange;
}
