/* Styles for PostsListPage.js */

.postsListContainer {
  background-color: #655d43;

  border-radius: 20px;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: whitesmoke;
  text-align: justify;
}

.searchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.staticHeart {
  color: #f85032;
}

.staticComment {
  color: whitesmoke;
}

.postImage {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #856404;
  margin-bottom: 10px;
}

.loadingMessage {
  text-align: center;
  margin-top: 1rem;
}
