/* Stylessheet for Post.js, some styling elements borrowed from the Walkthrough project "Moments" with Code Institute */

.Post {
  background-color: #0d0d0d;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
}

.PostImage {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

h2,
h3 {
  text-decoration: underline;
}

.CreationDate {
  color: whitesmoke;
}

.Post figure,
h5 {
  margin: 0 0;
}

.PostBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 0.9rem;
}

.LikeCommentWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.LikeSection,
.CommentSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.LikesCount,
.CommentsCount {
  font-size: 14px;
  color: #ffffff;
}
