/* CSS from the walkthrough file called "Post.module.css" */
.Post {
  background-color: #0d0d0d;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
}

h2,
h3 {
  text-decoration: underline;
}

.CreationDate {
  color: whitesmoke;
}

.Post figure,
h5 {
  margin: 0 0;
}

.PostBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 0.9rem;
}
