.ProfileImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin: 4px;
  padding: 2px;
  border: 2px solid white;
  border-radius: 50%;
}

.Link {
  font-size: 0.8rem;
  color: whitesmoke;
  text-decoration: none;
}

.Link:hover {
  color: blanchedalmond;
}

.ProfileContainer {
  background-color: #655d43;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.commentListDivider {
  margin-right: auto;
  max-width: 30%;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 100px;
    height: 100px;
  }
}
