/* Styles for the search bar and search icon */

.searchBar {
  max-width: 100%;
}

.searchBarWrapper {
  flex: 1;
  min-width: 0;
}

.searchBar input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 2px solid black;
  border-radius: 20px;
  color: #242a3d;
}

.searchIcon {
  font-size: 1rem;
  padding: 0.5rem;
  color: #242a3d;
  position: absolute;
}

.searchIcon:hover {
  color: inherit;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spinnerWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerPlaceholder {
  width: 1.5rem;
  height: 1.5rem;
}
