/* Styles for the search bar and search icon */

.SearchBar {
  width: 100%;
}

.SearchBar {
  width: 100%;
  min-width: 50px;
}

.SearchBarWrapper {
  flex: 1;
  min-width: 0;
}

.SearchBar input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 2px solid black;
  border-radius: 20px;
  color: #242a3d;
}

.SearchIcon {
  font-size: 1rem;
  padding: 0.5rem;
  color: #242a3d;
  position: absolute;
}

.SearchIcon:hover {
  color: inherit;
  cursor: pointer;
}

.InputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* position: relative; */
}

.SpinnerWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SpinnerPlaceholder {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 335px) {
  .SearchBar {
    max-width: 100px;
  }
}
