/* Stylesheet for SearchBar */

.SearchBar {
  width: 100%;
  max-width: 300px;
  min-width: 140px;
  flex-shrink: 1;
  margin-left: 0;
  position: relative;
}

.SearchBar input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 2px solid black;
  border-radius: 20px;
  color: #242a3d;
}

.SearchIcon {
  position: absolute;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #242a3d;
}

.InputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.SpinnerWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SpinnerPlaceholder {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 335px) {
  .SearchBar {
    max-width: 120px;
  }
}
