/* Styles for the sidebar layout in desktop and mobile */

.Sidebar {
  background-color: #655d43;
  border: black solid 2px;
  border-radius: 5px;
  padding-top: 1rem;
  color: whitesmoke;
}

.CustomHr {
  width: auto;
}
