.SignUpWrapper {
  border: 3px solid #856404;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5); /* optional light overlay */
  max-width: 900px;
  margin: 100px auto;
}

.Input {
  background: #ffffff;
  /* border: 3px solid #856404; */
  border: 2px solid #856404;
  box-sizing: border-box;
  border-radius: 100px;
  color: #7177a1;
  text-align: center;
  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.SignIn .Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}
.SignInSignUpPrompt {
  text-align: center;
}

.ImageBorder {
  overflow: hidden;
  border: 5px solid #856404;
  border-radius: 5px;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.Link:hover {
  color: orange;
}
