/* Stylesheet for Sign-in and Sign-up pages */

.signUpWrapper {
  border: 3px solid #856404;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  max-width: 900px;
  margin: 100px auto;
}

.input {
  background: #ffffff;
  border: 2px solid #856404;
  box-sizing: border-box;
  border-radius: 100px;
  color: #7177a1;
  text-align: center;
  padding: 10px;
}

.header {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.signIn .link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}
.signInSignUpPrompt {
  text-align: center;
}

.imageBorder {
  overflow: hidden;
  border: 5px solid #856404;
  border-radius: 5px;
}

.container {
  padding: 30px 10px;
}

.signInCol {
  height: 320px;
}

.signUpCol {
  height: 375px;
}

.link:hover {
  color: orange;
}
